@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-size: 16px;
  line-height: 1.4;
  font-family: "Roboto";
  font-weight: 400;
  background-color: #f3f4f6;
  color: #363636;
}

.font-main {
  font-family: "Lexend Deca", sans-serif;
}

img {
  max-width: 100%;
}

.spacing-top-xxxs {
  padding-top: 8px;
}
@media (min-width: 992px) {
  .spacing-top-xxxs {
    padding-top: 8px;
  }
}
.spacing-top-xxs-12 {
  padding-top: 12px;
}
@media (min-width: 992px) {
  .spacing-top-xxs-12 {
    padding-top: 12px;
  }
}
.spacing-top-xxs-16 {
  padding-top: 8px;
}
@media (min-width: 992px) {
  .spacing-top-xxs-16 {
    padding-top: 16px;
  }
}
.spacing-top-xs {
  padding-top: 16px;
}
@media (min-width: 992px) {
  .spacing-top-xs {
    padding-top: 24px;
  }
}
.spacing-top-s {
  padding-top: 28px;
}
@media (min-width: 992px) {
  .spacing-top-s {
    padding-top: 36px;
  }
}
.spacing-top-m {
  padding-top: 40px;
}
@media (min-width: 992px) {
  .spacing-top-m {
    padding-top: 48px;
  }
}
.spacing-top-l {
  padding-top: 48px;
}
@media (min-width: 992px) {
  .spacing-top-l {
    padding-top: 56px;
  }
}
.spacing-top-xl {
  padding-top: 56px;
}
@media (min-width: 992px) {
  .spacing-top-xl {
    padding-top: 72px;
  }
}
.spacing-top-xxl {
  padding-top: 80px;
}
@media (min-width: 992px) {
  .spacing-top-xxl {
    padding-top: 96px;
  }
}
@media (max-width: 991.98px) {
  .spacing-top-mobonly {
    padding-top: 26px;
  }
}

.spacing-bottom-xxxs {
  padding-bottom: 8px;
}
@media (min-width: 992px) {
  .spacing-bottom-xxxs {
    padding-bottom: 8px;
  }
}
.spacing-bottom-xxs-12 {
  padding-bottom: 12px;
}
@media (min-width: 992px) {
  .spacing-bottom-xxs-12 {
    padding-bottom: 12px;
  }
}
.spacing-bottom-xxs-16 {
  padding-bottom: 8px;
}
@media (min-width: 992px) {
  .spacing-bottom-xxs-16 {
    padding-bottom: 16px;
  }
}
.spacing-bottom-xs {
  padding-bottom: 16px;
}
@media (min-width: 992px) {
  .spacing-bottom-xs {
    padding-bottom: 24px;
  }
}
.spacing-bottom-s {
  padding-bottom: 28px;
}
@media (min-width: 992px) {
  .spacing-bottom-s {
    padding-bottom: 36px;
  }
}
.spacing-bottom-m {
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .spacing-bottom-m {
    padding-bottom: 48px;
  }
}
.spacing-bottom-l {
  padding-bottom: 48px;
}
@media (min-width: 992px) {
  .spacing-bottom-l {
    padding-bottom: 56px;
  }
}
.spacing-bottom-xl {
  padding-bottom: 56px;
}
@media (min-width: 992px) {
  .spacing-bottom-xl {
    padding-bottom: 72px;
  }
}
.spacing-bottom-xxl {
  padding-bottom: 80px;
}
@media (min-width: 992px) {
  .spacing-bottom-xxl {
    padding-bottom: 96px;
  }
}

.font48 {
  font-size: 2rem;
}
@media (min-width: 992px) {
  .font48 {
    font-size: 3rem;
  }
}

.font36 {
  font-size: 1.875rem;
}
.font36-static {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  .font36 {
    font-size: 2.25rem;
  }
}

.font22 {
  font-size: 1.25rem;
}
.font22-static {
  font-size: 1.375rem;
}
@media (min-width: 992px) {
  .font22 {
    font-size: 1.375rem;
  }
}

.font20 {
  font-size: 1.125rem;
}
.font20-static {
  font-size: 1.25rem;
}
@media (min-width: 992px) {
  .font20 {
    font-size: 1.25rem;
  }
}

.font18 {
  font-size: 1rem;
}
.font18-static {
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .font18 {
    font-size: 1.125rem;
  }
}

.btn {
  font-family: "Lexend Deca", sans-serif;
  display: inline-block;
  padding: 20px 22px;
  border-radius: 50px;
  font-size: 1.5rem;
}
.btn-main, .btn-primary {
  background-color: #9b111a;
  border-color: #9b111a;
  color: white !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-main:hover, .btn-main:focus, .btn-main:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #740c13;
  border-color: #9b111a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-main:focus, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #9b111a;
          box-shadow: 0 0 0 0.25rem #9b111a;
}

nav .navi-logo {
  width: 90px;
}
nav .navbar-brand {
  padding: 0;
}
nav .navbar-toggler {
  border: none;
  padding: 0;
  border-radius: 50%;
  display: inline-block;
  line-height: 2.2;
}
nav .navbar-toggler:active,
nav .navbar-toggler:focus,
nav .navbar-toggler {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
nav .navbar-toggler-icon {
  width: 45px;
  height: 30px;
  background-image: none;
  position: relative;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  margin-top: -3.8px;
}
nav .navbar-toggler-icon span:before {
  border-bottom: 6px solid #000000;
  border-radius: 20px;
  position: absolute;
  content: "";
  width: 45px;
  top: 40%;
  left: 0;
}
nav .navbar-toggler-icon:before,
nav .navbar-toggler-icon:after {
  border-bottom: 6px solid #000000;
  border-radius: 20px;
  width: 45px;
  position: absolute;
  height: 6px;
  left: 0;
  content: "";
  z-index: 2;
  -webkit-transition: width 0.25s, top 0.25s, left 0.25s, -webkit-transform 0.25s;
  transition: width 0.25s, top 0.25s, left 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, width 0.25s, top 0.25s, left 0.25s;
  transition: transform 0.25s, width 0.25s, top 0.25s, left 0.25s, -webkit-transform 0.25s;
  -webkit-animation-delay: 136ms;
          animation-delay: 136ms;
}
nav .navbar-toggler-icon:after {
  bottom: 0;
}
nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 10px;
}
nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon span:before {
  width: 0;
}
nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}
nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  border-color: transparent;
}
nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-item a {
  font-size: 1.125rem;
  font-family: "Lexend Deca", sans-serif;
  color: #363636;
}
@media (min-width: 992px) {
  nav .nav-item a {
    font-size: 1.25rem;
    margin-right: 1rem;
  }
}
nav .nav-item a:hover {
  color: #494949;
}

@media (min-width: 992px) {
  .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

section.with-viewport-height {
  height: 100vh;
}
@media (min-width: 992px) {
  section.with-viewport-height-desktop {
    height: 100vh;
  }
}
section.no-viewport-height {
  height: unset;
}

#skills i {
  margin-right: 0.5rem;
  font-weight: 800;
}

#social-media a {
  color: #9b111a;
}
#social-media a:hover {
  color: #740c13;
}

.card {
  background-color: unset;
  border-radius: 10px;
  border: 0;
  background-color: white;
  -webkit-box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.card:hover {
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.36);
          box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.36);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-body {
  padding: 20px;
  padding-bottom: 0;
}
.card-footer {
  border-radius: 0;
  padding: 20px;
  background-color: unset;
  border: none;
}
.card-footer .project-links a {
  padding-right: 8px;
}
.card-footer .project-links a i {
  width: 20px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.card-footer .project-links a i:hover {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: #6b7280;
}

.about-me-image {
  border: 4px solid #9b111a;
  border-radius: 50px;
}

.intro, .slider {
  background-color: #9b111a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro-text, .slider-text {
  color: aliceblue;
  font-family: "Lexend Deca", sans-serif;
  font-size: 4rem;
}

.slider {
  background: black;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: #9b111a;
  overflow: hidden;
}
.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

* {
  scroll-margin-top: 68px;
}

.rolling-text p {
  min-height: 55px !important;
}