@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto";
  font-weight: 400;
}

.font-main {
  font-family: "Lexend Deca", sans-serif;
}

.font48 {
  font-size: 2rem;
}
@media (min-width: 992px) {
  .font48 {
    font-size: 3rem;
  }
}

.font36 {
  font-size: 1.875rem;
}
.font36-static {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  .font36 {
    font-size: 2.25rem;
  }
}

.font20 {
  font-size: 1.125rem;
}
.font20-static {
  font-size: 1.25rem;
}
@media (min-width: 992px) {
  .font20 {
    font-size: 1.25rem;
  }
}

.font18-static {
  font-size: 18px;
}

.btn {
  font-family: "Lexend Deca", sans-serif;
  display: inline-block;
  padding: 20px 22px;
  border-radius: 50px;
  font-size: 1.5rem;
}
.btn-main {
  background-color: #9b111a;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-main:hover {
  background-color: #740c13;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  section {
    height: 100vh;
  }
}
section.with-viewport-height {
  height: 100vh;
}
@media (min-width: 992px) {
  section.with-viewport-height-desktop {
    height: 100vh;
  }
}
section.no-viewport-height {
  height: unset;
}

.card {
  background-color: unset;
}
.card-footer {
  border-radius: 0;
  padding: 0;
  background-color: unset;
  border: none;
}

.intro, .slider {
  background-color: #9b111a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro-text, .slider-text {
  color: aliceblue;
  font-family: "Lexend Deca", sans-serif;
  font-size: 4rem;
}

.slider {
  background: black;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: #9b111a;
  overflow: hidden;
}
.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

* {
  scroll-margin-top: 68px;
}

.rolling-text p {
  min-height: 55px !important;
}