.font48{

  font-size: 2rem;

  @media (min-width: $min-lg){
    font-size: 3rem;
  }
}

//text 4xl
.font36{

  &-static{
    font-size: 2.25rem;
  }

  font-size: 1.875rem;

  @media (min-width: $min-lg){
    font-size: 2.25rem;
  }
}

.font22{

  &-static{
    font-size: 1.375rem;
  }

  font-size: 1.25rem;

  @media (min-width: $min-lg){
    font-size: 1.375rem;
  }
}

//text xl
.font20{

  &-static{
    font-size: 1.25rem;
  }

  font-size: 1.125rem;

  @media (min-width: $min-lg){
    font-size: 1.25rem;
  }
}

//text lg
.font18{
  &-static{
    font-size: 1.125rem;
  }

  font-size: 1rem;

  @media (min-width: $min-lg){
    font-size: 1.125rem;
  }
}