$max-xs: 320px;
$max-ips: 413.98px;
$max-sm: 575.98px;
$max-md: 767.98px;
$max-lg: 991.98px;
$max-xl: 1199.98px;
$max-1304: 1304.98px;
$max-1440: 1439.98px;
$max-1680: 1679.98px;
$max-1920: 1919.98px;


$min-xs: 321px;
$min-ips: 414px;
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-1304: 1304px;
$min-1440: 1440px;
$min-1680: 1680px;
$min-1920: 1920px;

$color-main-red: #9b111a;
$color-secondary-red: #740c13;
$color-font-dark: #363636;
$color-font-dark-hover: #6b7280;

$color-black: #000000;

$color-gray-100: #f3f4f6;
$color-gray-500: #6b7280;