.btn{
  font-family: 'Lexend Deca', sans-serif;
  display: inline-block;
  padding: 20px 22px;
  border-radius: 50px;
  font-size: 1.5rem;

  &-main{
    background-color: $color-main-red;
    color: #ffff;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: $color-secondary-red;
      color: #ffff;
      transition: all 0.3s ease-in-out;
    }
  }
}