.btn{
  font-family: 'Lexend Deca', sans-serif;
  display: inline-block;
  padding: 20px 22px;
  border-radius: 50px;
  font-size: 1.5rem;

  &-main, &-primary{
    background-color: $color-main-red;
    border-color: $color-main-red;
    color: #ffff !important;
    transition: all 0.3s ease-in-out;

    &:hover, &:focus, &:active{
      background-color: $color-secondary-red;
      border-color: $color-main-red;
      transition: all 0.3s ease-in-out;
    }

    &:focus{
      box-shadow: 0 0 0 0.25rem $color-main-red;

    }
  }
}