section{
  @media (min-width: $min-lg){
    height: 100vh;
  }

  &.with-viewport-height{
    height: 100vh;

    &-desktop{
      @media (min-width: $min-lg){
        height: 100vh;
      }
    }
  }

  &.no-viewport-height{
    height: unset;
  }
}