@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .link-pill{
    @apply bg-primary-red rounded-3xl mx-2 text-3xl py-2 text-gray-200 mb-8;
} */

:root {
    --myred: #9f0710;
}

* {
    scroll-behavior: smooth;
}

/* Projects Img */
#container, #container-2 {
    border: 1px solid grey;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
        0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.05);
}

#container{
    background: url(https://res.cloudinary.com/djiqzvyik/image/upload/v1628256637/4_ihkptk.png);
    /* background-attachment: fixed;
    background-position: center;*/
    background-repeat: no-repeat; /* OPTIONAL BASED ON CONDITION  */
    /* background-blend-mode: lighten; */
    background-size: cover;
}

#container-2{
    background: url(https://res.cloudinary.com/djiqzvyik/image/upload/v1628256321/1_zo8ohu.png);
    /* background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat; /* OPTIONAL BASED ON CONDITION  */
    /* background-blend-mode: lighten; */
    background-size: cover;
}

#container-3{
    background: url(https://res.cloudinary.com/djiqzvyik/image/upload/v1628256321/2_qpc2cv.png);
    /* background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat; /* OPTIONAL BASED ON CONDITION  */
    /* background-blend-mode: lighten; */
    background-size: cover;
}

#container-4{
    background: url(https://res.cloudinary.com/djiqzvyik/image/upload/v1628256701/3_tlln1z.png);
    /* background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat; /* OPTIONAL BASED ON CONDITION  */
    /* background-blend-mode: lighten; */
    background-size: cover;
}


/* Navbar */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* Rolling Text Intro */
.rolling-text p {
    margin: 0;
    overflow: hidden;
}
.rolling-text p span {
    /* color: rgb(0, 0, 0); */
    /* font-weight: 700; */
    display: inline-block;
    /* line-height: 46px; */
    display: none;
}

.rolling-text p span.text-in {
    display: block;
    animation: textIn 0.5s ease;
}
.rolling-text p span.text-out {
    animation: textOut 0.5s ease;
}
@keyframes textIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes textOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
