.intro, .slider {
  background-color: #9b111a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro-text, .slider-text {
  color: aliceblue;
  font-family: "Lexend Deca", sans-serif;
  font-size: 4rem;
}

.slider {
  background: black;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: #9b111a;
  overflow: hidden;
}
.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

* {
  scroll-margin-top: 68px;
}

.rolling-text p {
  min-height: 55px !important;
}