@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .link-pill{
    @apply bg-primary-red rounded-3xl mx-2 text-3xl py-2 text-gray-200 mb-8;
} */

:root {
    --myred: #9f0710;
}

*{
    scroll-behavior: smooth;
}

/* Navbar */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* Rolling Text Intro */
.rolling-text p {
    margin: 0;
    overflow: hidden;
}
.rolling-text p span {
    /* color: rgb(0, 0, 0); */
    /* font-weight: 700; */
    display: inline-block;
    /* line-height: 46px; */
    display: none;
}

.rolling-text p span.text-in {
    display: block;
    animation: textIn 0.5s ease;
}
.rolling-text p span.text-out {
    animation: textOut 0.5s ease;
}
@keyframes textIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes textOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
